{% block content %}
<!-- TODO: Look at accessibility and ARIA roles for my interactivity -->
<!-- TODO: Work out why JS Linting isn't working -->
<!-- TODO: Set up event bubbling on DOM manip -->

	<div class="main-data">
		<div class="data-entry">
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Train Number</th>
						<th>Duty Number</th>
					</tr>
				</thead>
				<tbody>
					<tr class="data-title" tabindex="0" aria-controls="data-content-1" id="data-title-1">
						<td>28/04/1991</td>
						<td>002</td>
						<td>5690</td>
					</tr>
					<tr class="data-content" id="data-content-1" aria-labelledby ="data-title-1" aria-expanded="false">
						<td colspan="3">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</td>
					</tr>

					<tr class="data-title" tabindex="0" aria-controls="data-content-2" id="data-title-2">
						<td>28/04/1991</td>
						<td>002</td>
						<td>5690</td>
					</tr>
					<tr class="data-content" id="data-content-2" aria-labelledby ="data-title-2" aria-expanded="false">
						<td colspan="3">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
